<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/bootstrap.css">
</head>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/users/info" style="padding:10px; text-shadow:5px 2px 0 rgba(0,204,102,1);font-weight:bold;color:white;letter-spacing:0pt;word-spacing:2pt;font-size:33px;text-align:left;font-family:arial black, sans-serif;line-height:1;">SIGHTSEER</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to 'New User', new_user_url %>
            </li>
          </ul>
        </li>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<body id="loginPage">

  <h1 id="welcome">Welcome to Sightseer,<br> &nbsp&nbsp&nbsp&nbsp the Perfect trip planner</h1>
  <h3 id="message"> &nbsp&nbsp&nbsp&nbspMake memories that will last Forever</h3>
  <div>


    <%= form_tag do %>
      <fieldset id="field">
        <div>
          <%= label_tag :username, 'Username', class: "new" %>
            <%= text_field_tag :username, params[:username], class: "newB" %>

              <%= label_tag :password, 'Password', class: "pass" %>
                <%= password_field_tag :password, params[:password], class: "passB" %>
        </div>
        <div>
          <%= submit_tag "Login", class: "login" %>
            <% if flash[:alert] %>
              <p id="notice">
                <%= flash[:alert] %>
              </p>
              <% end %>
        </div>


      </fieldset>
      <% end %>


  </div>



</body>
<script src="/assets/bootstrap.js"></script>

</html>