<% @current_user ||= User.find_by(id: session[:user_id]) %> <!-- This line gets the user's ID**Needed for EDIT**-->
<!DOCTYPE html>
<html class="test1" lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/bootstrap.css">
  <link href="/assets/freelancer.css" rel="stylesheet">
</head>
<%# THIS IS THE TOP BORDER %>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/users/info" style="padding:10px; text-shadow:5px 2px 0 rgba(0,204,102,1);font-weight:bold;color:white;letter-spacing:0pt;word-spacing:2pt;font-size:33px;text-align:left;font-family:arial black, sans-serif;line-height:1;">SIGHTSEER</a>
    </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Go to Route Planner', map_path %></li>
            <li><%= link_to 'New User', new_user_url %></li>
            <li><%= link_to 'Edit User', edit_user_url(@current_user.id) %></li>
            <li><%= link_to 'Sign Out', login_url %></li>
          </ul>
        </li>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<% if notice%>
<p id = "notice"><%= notice%></p>
<% end %>

<h2 style= "color:black"> Welcome <%= session[:user_username] %>, To SightSeers!</h2>

<body class = "test2">
    
    <!-- Full Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url(/assets/slide1.jpg);"></div>
                <div class="carousel-caption">
                    <h2>Nightly Scenery</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url(/assets/slide2.jpg);"></div>
                <div class="carousel-caption">
                    <h2>Vancouver</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url(/assets/slide3.jpg);"></div>
                <div class="carousel-caption">
                    <h2>SO MUCH TO SEE AND DO</h2>
                </div>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>
<%# SLIDE SHOW END %>
<div class="container-fluid">

<div class="row">
    <div class="col-md-12">
        <p id="newLine">______________________________________________________________</p>
    </div>
    <div class="col-md-12">
        <h2 style="text-align:center; position:relative; top:30px;">POPULAR CHOICES</h2>
    </div>
</div>

    <section id="portfolio">
        <div class="container">
            <div class="row">
            
                <div class="col-sm-4 portfolio-item">
                    <a href="https://www.grousemountain.com/grousegrind" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i>Go to Website</i>
                            </div>
                        </div>
                        <img src="assets/choices/grind.jpg" class="img-responsive" alt="">
                    </a>
                </div>
                
                <div class="col-sm-4 portfolio-item">
                    <a href="https://www.capbridge.com/" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i>Go to Website</i>
                            </div>
                        </div>
                        <img src="assets/choices/bridge.jpg" class="img-responsive" alt="">
                    </a>
                </div>
                
                <div class="col-sm-4 portfolio-item">
                    <a href="https://www.scienceworld.ca/" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i>Go to Website</i>
                            </div>
                        </div>
                        <img src="assets/choices/science.jpg" class="img-responsive" alt="">
                    </a>
                </div>
                
                <div class="col-sm-4 portfolio-item">
                    <a href="http://www.vanartgallery.bc.ca/" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i>Go to Website</i>
                            </div>
                        </div>
                        <img src="assets/choices/art.jpg" class="img-responsive" alt="">
                    </a>
                </div>
                
                <div class="col-sm-4 portfolio-item">
                    <a href="http://granvilleisland.com/" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i>Go to Website</i>
                            </div>
                        </div>
                        <img src="assets/choices/island.jpg" class="img-responsive" alt=""/>
                    </a>
                </div>
                
                <div class="col-sm-4 portfolio-item">
                    <a href="http://www.vanaqua.org/" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i>Go to Website</i>
                            </div>
                        </div>
                        <img src="assets/choices/aquarium.jpg" class="img-responsive" alt="" >
                    </a>
                </div>
            </div>
        </div>
    </section>


</div>
  
    <%#START OF MAP PORTION %>
    <div id="locationField" style="position:relative; top:200px; left:25%; width:15%; height:50px;">
      <input id="autocomplete" placeholder="Enter a city" type="text" style="height:50px; font-size:150%;" />
    </div>

    <div id="controls" style="position:relative; top:150px; left:45%; width:15%;">
      <select id="country">
        <option value="ca" selected>None</option>
        <option value="all">All</option>
        <option value="ca">Canada</option>
      </select>
    </div>
    
    
    <div id = "mapContainer">
    <div id="map" style="height: 100%; color:black; width: 100%;"></div>
    </div>
    
    
    <div id="listing" style="position:relative; left:87%; top:-665px">
      <table id="resultsTable">
        <tbody id="results"></tbody>
      </table>
    </div>

    <div style="display: none">
      <div id="info-content">
        <table>
          <tr id="iw-url-row" class="iw_table_row">
            <td id="iw-icon" class="iw_table_icon"></td>
            <td id="iw-url"></td>
          </tr>
          <tr id="iw-address-row" class="iw_table_row">
            <td class="iw_attribute_name">Address:</td>
            <td id="iw-address"></td>
          </tr>
          <tr id="iw-phone-row" class="iw_table_row">
            <td class="iw_attribute_name">Telephone:</td>
            <td id="iw-phone"></td>
          </tr>
          <tr id="iw-rating-row" class="iw_table_row">
            <td class="iw_attribute_name">Rating:</td>
            <td id="iw-rating"></td>
          </tr>
          <tr id="iw-website-row" class="iw_table_row">
            <td class="iw_attribute_name">Website:</td>
            <td id="iw-website"></td>
          </tr>
        </table>
      </div>
    </div>

</div>
</body>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDaU5DbGvX_-OOZwj-az4zT4iC6gp8MmQQ&libraries=places&callback=initMap"async defer></script>    
<script src="assets/home.js"></script>
<script src="/assets/bootstrap.js"></script>
</html>