<h1> Users</h1>
<% if notice%>
<p id = "notice"><%= notice%></p>
<% end%>

<table>
  <thead>
    <tr>
      <td><h3>User Name &nbsp&nbsp&nbsp&nbsp</h3></td>
      <td><h3>First Name &nbsp&nbsp&nbsp&nbsp</h3></td>
      <td><h3>Last Name &nbsp&nbsp&nbsp&nbsp</h3></td>
      <td><h3>Email &nbsp&nbsp&nbsp&nbsp</h3></td>

    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.firstname %></td>
        <td><%= user.lastname %></td>
        <td><%= user.email %></td>
        <td><%= user.password %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Not a member? click here!', new_user_path %>
<%= link_to 'Back', users_path %>
