<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/bootstrap.css">
</head>

<!-- NAVBAR -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/users/info" style="padding:10px; text-shadow:5px 2px 0 rgba(0,204,102,1);font-weight:bold;color:white;letter-spacing:0pt;word-spacing:2pt;font-size:33px;text-align:left;font-family:arial black, sans-serif;line-height:1;">SIGHTSEER</a>
    </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Login', login_path %></li>
          </ul>
        </li>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  <body id="newPage">

<div class="container-fluid" style="padding-top:100px;">
    
    <div class="row" style="width:100%;">
      <div class="col-md-4">
        <%= image_tag( "8.jpg", class: "picture8") %>
      </div>
      <div class="col-md-4">
        <%= image_tag( "7.jpg", class: "picture7") %>
      </div>
      <div class="col-md-4">
        <%= image_tag( "9.jpg", class: "picture9") %>
      </div>
    </div>



    <div class="row">
      <div class="col-md-12">
        <p id="newText">Take the first step towards your adventure by simply signing up!</p>
        <p id="newLine">______________________________________________________________</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3 id="newLogin">Registration</h3>
      </div>
    </div>

    <div class="row" id="inputPart">    
      <%= form_for(@user) do |f| %>
        <% if @user.errors.any? %>
          
          <div class = "col-md-12">
            <div id="error_explanation">
              <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
              <ul>
                <% @user.errors.full_messages.each do |message| %>
                  <li>
                    <%= message %>
                  </li>
                  <% end %>
              </ul>
            </div>
          </div>
        <% end %>
          
          

    

            <div class = "col-md-12">
              <div class="field">
                <%= f.label :username, class: "name" %>
                  <br>
                  <%= f.text_field :username, class: "nameField" %>
              </div>
            </div>
          
            <div class = "col-md-12">
              <div class="field">
                <%= f.label :firstname, class: "name" %>
                  <br>
                  <%= f.text_field :firstname, class: "nameField" %>
              </div>
            </div>
            
            <div class = "col-md-12">
              <div class="field">
                <%= f.label :lastname, class: "name" %>
                  <br>
                  <%= f.text_field :lastname, class: "nameField" %>
              </div>
            </div>
            
            <div class = "col-md-12">
              <div class="field">
                <%= f.label :email, class: "name" %>
                  <br>
                  <%= f.text_field :email, class: "nameField" %>
              </div>
            </div>
            
            <div class = "col-md-12">
              <div class="field">
                <%= f.label :password, class: "name"%>
                  <br>
                  <%= f.password_field :password, class: "nameField" %>
              </div>
            </div>
            
            <div class = "col-md-12">
              <div class="field">
                <%= f.label :password_confirmation, class: "name" %>
                  <br>
                  <%= f.password_field :password_confirmation, class: "nameField" %>
              </div>
            </div>
      
            <div class = "col-md-12" style="padding:10px;">
              <div class="actions">
                <%= f.submit class: "createButton" %>
              </div>
              <% end %>
            </div>
        </div>
    
    
<div class="row" style="width:100%;">
  <div class="col-md-4">
    <%=image_tag( "5.jpg", class: "picture5") %>
  </div>
  <div class="col-md-4" >
    <%=image_tag( "4.jpg", class: "picture4") %>
  </div>
  <div class="col-md-4">
    <%=image_tag( "2.jpg", class: "picture2") %>
  </div>
</div>


</div>

  </body>
<script src="/assets/bootstrap.js"></script>
</html>

